<div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
    <div class="menu_section">
        <h3>General</h3>
        <ul class="nav side-menu">
            <li><a href="{% url 'stats:dashboard' %}"><i class="fa fa-home"></i> Dashboard </a></li>
            <li><a href="{% url 'stats:explore' %}"><i class="fa fa-pie-chart"></i> Stats Explorer </a></li>
            <li><a href="{% url 'stats:log' %}"><i class="fa fa-book"></i> Log Explorer </a></li>
            <!--
            <li><a href="#"><i class="fa fa-clock-o"></i> Live Preview </a></li>
            <li><a><i class="fa fa-edit"></i> Menu2 <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu" style="display: none">
                    <li><a href="empty.html">Menu2.1</a>
                    </li>
                    <li><a href="empty.html">Meny2.2s</a>
                    </li>
                </ul>
            </li>
            -->
        </ul>
    </div>
</div>
<!-- /sidebar menu -->
